<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>addToMenu</key>
	<array>
		<dict>
			<key>path</key>
			<string>KernObserver.py</string>
			<key>preferredName</key>
			<string>KernObserver</string>
			<key>shortKey</key>
			<string></string>
		</dict>
		<dict>
			<key>path</key>
			<string>KernPreferences.py</string>
			<key>preferredName</key>
			<string>KernPreferences</string>
			<key>shortKey</key>
			<string></string>
		</dict>
		<dict>
			<key>path</key>
			<string>KernTool.py</string>
			<key>preferredName</key>
			<string>KernTool</string>
			<key>shortKey</key>
			<string></string>
		</dict>
	</array>
	<key>developer</key>
	<string>Alexander Lubovenko</string>
	<key>developerURL</key>
	<string>https://github.com/typedev</string>
	<key>html</key>
	<true/>
	<key>launchAtStartUp</key>
	<integer>0</integer>
	<key>mainScript</key>
	<string></string>
	<key>name</key>
	<string>KernTool</string>
	<key>requiresVersionMajor</key>
	<string>1</string>
	<key>requiresVersionMinor</key>
	<string>8</string>
	<key>timeStamp</key>
	<real>1481665631.3116341</real>
	<key>version</key>
	<string>1.0</string>
</dict>
</plist>
